{
  "presets": ["next/babel", "@babel/preset-react", "@babel/preset-env"],
  "plugins": [
    ["emotion"],
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ]
  ]
}
