.DS_Store

.next/
build/
node_modules/
.nyc_output
coverage

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea/**/*.iml
.idea/shelf
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/workspace.xml

schema.graphql
