@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');

:root {
  --scale: scale(1.1);
  --primary: rgb(162, 75, 63);
  --secondary: rgba(253, 246, 227);
}

body {
  margin: 0px;
  font-family: 'Ubuntu Mono', monospace;
}
