@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

:root {
  /* Colors */
  --primary: rgb(162, 75, 63);
  --secondary: rgba(253, 246, 227);
  --white: whitesmoke;
  --black: #000000;
  --green: lightgreen;
  --yellow: yellow;
  --red: red;

  /* Animations */
  --scale: scale(1.05);
  --transition: all 0.1s ease-in;
  --menu-speed: 0.3s;
  --fade-in: fadeIn 0.25s;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
}
