@import './variables.css';

html,
body {
  background: var(--secondary);
  font-family: 'Roboto', sans-serif;
}

#nprogress .bar {
  height: 0.25rem;
  background-color: var(--white);
}

#nprogress .spinner-icon {
  border-top-color: var(--white);
  border-left-color: var(--white);
}
