@import './keyframes.css';

:root {
  /* Backgrounds */
  --primary-bg: linear-gradient(10deg, var(--primary) 55%, var(--secondary) 45%);
  --secondary-bg: var(--secondary);

  /* Colors */
  --primary: rgb(173, 54, 54);
  --secondary: rgba(245, 245, 245);

  --white: #ffffff;
  --black: #000000;

  --good-button: lightgreen;
  --neutral-button: yellow;
  --negative-button: red;

  /* Animations */
  --scale: scale(1.05);
  --transition: all 0.1s ease-in;
  --menu-speed: 0.3s;
  --fade-in: fadeIn 0.25s forwards;
  --fade-out: fadeOut 0.25s forwards;

  /* Shadows */
  --text-shadow: 0 0 0.05rem var(--black);
  --box-shadow: 0 0 0.15rem 0.05rem var(--black);
}
